<div id="virtualKeyboard" class="virtual-keyboard">
  <div class="keyboard-row">
    <span class="keyboard-key" onclick="insertChar('ج')">ج</span>
    <span class="keyboard-key" onclick="insertChar('ث')">ث</span>
    <span class="keyboard-key" onclick="insertChar('ت')">ت</span>
    <span class="keyboard-key" onclick="insertChar('پ')">پ</span>
    <span class="keyboard-key" onclick="insertChar('ب')">ب</span>
    <span class="keyboard-key" onclick="insertChar('أ')">أ</span>
    <span class="keyboard-key" onclick="insertChar('إ')">إ</span>
    <span class="keyboard-key" onclick="insertChar('ا')">ا</span>
    <span class="keyboard-key" onclick="insertChar('ئ')">ئ</span>
  </div>
  <div class="keyboard-row">
    <span class="keyboard-key" onclick="insertChar('س')">س</span>
    <span class="keyboard-key" onclick="insertChar('ژ')">ژ</span>
    <span class="keyboard-key" onclick="insertChar('ر')">ر</span>
    <span class="keyboard-key" onclick="insertChar('ز')">ز</span>
    <span class="keyboard-key" onclick="insertChar('ذ')">ذ</span>
    <span class="keyboard-key" onclick="insertChar('د')">د</span>
    <span class="keyboard-key" onclick="insertChar('خ')">خ</span>
    <span class="keyboard-key" onclick="insertChar('ح')">ح</span>
    <span class="keyboard-key" onclick="insertChar('چ')">چ</span>
  </div>
  <div class="keyboard-row">
    <span class="keyboard-key" onclick="insertChar('ڤ')">ڤ</span>
    <span class="keyboard-key" onclick="insertChar('ف')">ف</span>
    <span class="keyboard-key" onclick="insertChar('غ')">غ</span>
    <span class="keyboard-key" onclick="insertChar('ع')">ع</span>
    <span class="keyboard-key" onclick="insertChar('ظ')">ظ</span>
    <span class="keyboard-key" onclick="insertChar('ط')">ط</span>
    <span class="keyboard-key" onclick="insertChar('ض')">ض</span>
    <span class="keyboard-key" onclick="insertChar('ص')">ص</span>
    <span class="keyboard-key" onclick="insertChar('ش')">ش</span>
  </div>
  <div class="keyboard-row">
    <span class="keyboard-key" onclick="insertChar('ھ')">ھ</span>
    <span class="keyboard-key" onclick="insertChar('ڕ')">ڕ</span>
    <span class="keyboard-key" onclick="insertChar('و')">و</span>
    <span class="keyboard-key" onclick="insertChar('ن')">ن</span>
    <span class="keyboard-key" onclick="insertChar('م')">م</span>
    <span class="keyboard-key" onclick="insertChar('ڵ')">ڵ</span>
    <span class="keyboard-key" onclick="insertChar('ل')">ل</span>
    <span class="keyboard-key" onclick="insertChar('گ')">گ</span>
    <span class="keyboard-key" onclick="insertChar('ک')">ک</span>
    <span class="keyboard-key" onclick="insertChar('ق')">ق</span>
  </div>
  <div class="keyboard-row">
    <span class="keyboard-key" onclick="insertChar('ی')">ی</span>
    <span class="keyboard-key" onclick="insertChar('َ')">َ</span>
    <span class="keyboard-key" onclick="insertChar('ِ')">ِ</span>
    <span class="keyboard-key" onclick="insertChar('ّ')">ّ</span>
    <span class="keyboard-key" onclick="insertChar('ْ')">ْ</span>
    <span class="keyboard-key" onclick="insertChar('،')">،</span>
    <span
      class="keyboard-key space"
      onclick="insertChar(' ')"
      style="width: 70px"
      >&nbsp;</span
    >
    <span
      class="keyboard-key back-space"
      onclick="insertChar('←')"
      style="width: 30px"
      id="backspaceKey"
      >←</span
    >
  </div>
</div>
